// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #2b462b;
$classic-primary-color: #71a370;
$classic-secondary-color: #427d40;
$classic-highlight-color: #29a21a;

// Differences
$success-green: #4d9999;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-primary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: $classic-base-color;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: #364a3d;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #444b5d;
$action-button-color: #606984;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #444b5d;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
